.page_config{
    background-color: rgb(206, 192, 192);
}
.titulo_desenvolvedores{
    font-family: Georgia;
    font-size: 40px;
    color: #7800bd;
}
#p_desenv{
    color: blueviolet;
}
a{
    text-decoration: none;
    color: blueviolet;
    transition: 0.5s;
}
a:hover{
    color: fuchsia;
    font-size: 30px;
}
.container{
    color: #7800bd;
}
#rodape{
    color: #7800bd;

}
/*Davi*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  main {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }